In [44]:
file_path = "/workspaces/Main-DSDT-Example-Repo/ex_file (3).json"

file_pointer = open(file_path)

In [45]:
import json

my_dict_list_object = json.load(file_pointer)

In [46]:
display(file_path)

display(type(file_path))

'/workspaces/Main-DSDT-Example-Repo/ex_file (3).json'

str

In [47]:
display(file_pointer)


display(type(file_pointer))

_io.TextIOWrapper

In [48]:
display(my_dict_list_object)

{'_id': '64a1f90f9b1d8c1c0d1e3a01',
 'name': 'Alice Johnson',
 'email': 'alice@example.com',
 'age': 34,
 'is_active': True,
 'roles': ['admin', 'editor'],
 'created_at': '2023-06-01T12:34:56Z'}

In [49]:
display(type(my_dict_list_object))

dict

In [51]:
from pandas import read_json


my_dataset = read_json(file_path)

In [52]:
display(my_dataset)

                        _id  ...                created_at
0  64a1f90f9b1d8c1c0d1e3a01  ... 2023-06-01 12:34:56+00:00
1  64a1f90f9b1d8c1c0d1e3a02  ... 2023-07-15 08:22:30+00:00
2  64a1f90f9b1d8c1c0d1e3a03  ... 2023-05-10 16:00:00+00:00
3  64a1f90f9b1d8c1c0d1e3a04  ... 2023-08-20 10:15:10+00:00
4  64a1f90f9b1d8c1c0d1e3a05  ... 2023-03-12 14:45:00+00:00

[5 rows x 7 columns]

In [53]:
display(type(my_dataset))

pandas.core.frame.DataFrame