In [81]:
from sqlite3 import connect

my_database_object = connect("/workspaces/Main-DSDT-Example-Repo/Data Science/my_new_database.db")

In [82]:
my_query = "SELECT name, price, category, AVG() FROM products"

# my_query += " where price > 70 or category = 'Home'"

my_query += " order by price"

my_query += " limit 1"

In [83]:
from pandas import read_sql
my_df = read_sql(my_query, my_database_object)

DatabaseError: Execution failed on sql 'SELECT name, price, category, AVG() FROM products order by price limit 1': wrong number of arguments to function AVG()

In [ ]:
display(my_df)

                                   name  price  category
0  Synergized fresh-thinking throughput  13.94  Outdoors