In [60]:
from sqlite3 import connect

my_database_object = connect("/workspaces/Main-DSDT-Example-Repo/Data Science/my_new_database.db")

In [ ]:
my_query = "SELECT category, AVG(price) as avg_price FROM products"

my_query += " group by category" # get the results PER category

my_query += " order by avg_price" #order the results





# my_query += " where price > 70 or category = 'Home'"



# my_query += " limit 1"

In [62]:
from pandas import read_sql
my_df = read_sql(my_query, my_database_object)

In [63]:
display(my_df)

   category  avg_price
0  Outdoors  60.398333