In [135]:
from pandas import read_csv
dataset = read_csv("/workspaces/Main-DSDT-Example-Repo/Advanced ML/non-encoded-data.csv")

In [136]:
display(dataset)

     Size   Color Label
0   Small     Red     A
1  Medium    Blue     B
2   Large   Green     A
3   Small  Yellow     C
4   Large  Purple     B

In [137]:
from sklearn.tree import DecisionTreeClassifier

In [138]:
input_data = dataset.drop(columns=["Label"])

labels = dataset["Label"]

In [139]:
display(input_data)

     Size   Color
0   Small     Red
1  Medium    Blue
2   Large   Green
3   Small  Yellow
4   Large  Purple

In [140]:
display(labels)

0    A
1    B
2    A
3    C
4    B
Name: Label, dtype: object

In [141]:
# model = DecisionTreeClassifier()
# model.fit(input_data, labels)

In [142]:
dataset["Size"]

0     Small
1    Medium
2     Large
3     Small
4     Large
Name: Size, dtype: object

In [143]:
encoding_dictionary = {}

# ORDER MATTERS
encoding_dictionary["Medium"] = 33
encoding_dictionary["Small"] = 64
encoding_dictionary["Large"] = 108

In [144]:
non_encoded_column = dataset["Size"]

encoded_column = non_encoded_column.map(encoding_dictionary)

dataset["Ordinally Encoded Size"] = encoded_column

In [145]:
dataset["Ordinally Encoded Size"] = dataset["Size"].map({
    "Medium": 33,
    "Small": 64,
    "Large": 108
})

In [146]:
dataset

     Size   Color Label  Ordinally Encoded Size
0   Small     Red     A                      64
1  Medium    Blue     B                      33
2   Large   Green     A                     108
3   Small  Yellow     C                      64
4   Large  Purple     B                     108

In [147]:
dataset['RoofType'] = ['Brick', 'Metal', 'Ashpalt', 'Wood', 'Wood']

In [148]:
dataset

     Size   Color Label  Ordinally Encoded Size RoofType
0   Small     Red     A                      64    Brick
1  Medium    Blue     B                      33    Metal
2   Large   Green     A                     108  Ashpalt
3   Small  Yellow     C                      64     Wood
4   Large  Purple     B                     108     Wood

In [149]:
unencoded_column = dataset["RoofType"]

unencoded_column

0      Brick
1      Metal
2    Ashpalt
3       Wood
4       Wood
Name: RoofType, dtype: object

In [150]:
from pandas import get_dummies #one hot encoding

encoded_frame = get_dummies(unencoded_column)
encoded_frame

   Ashpalt  Brick  Metal   Wood
0    False   True  False  False
1    False  False   True  False
2     True  False  False  False
3    False  False  False   True
4    False  False  False   True

In [151]:
encoded_frame.columns

Index(['Ashpalt', 'Brick', 'Metal', 'Wood'], dtype='object')

In [152]:
dataset[encoded_frame.columns] = encoded_frame

dataset

,Size,Color,Label,Ordinally Encoded Size,RoofType,Ashpalt,Brick,Metal,Wood
0,Small,Red,A,64,Brick,False,True,False,False
1,Medium,Blue,B,33,Metal,False,False,True,False
2,Large,Green,A,108,Ashpalt,True,False,False,False
3,Small,Yellow,C,64,Wood,False,False,False,True
4,Large,Purple,B,108,Wood,False,False,False,True

In [153]:
dataset = dataset.to_numpy()

type(dataset)

numpy.ndarray

In [154]:
display(dataset)

array([['Small', 'Red', 'A', 64, 'Brick', False, True, False, False],
       ['Medium', 'Blue', 'B', 33, 'Metal', False, False, True, False],
       ['Large', 'Green', 'A', 108, 'Ashpalt', True, False, False, False],
       ['Small', 'Yellow', 'C', 64, 'Wood', False, False, False, True],
       ['Large', 'Purple', 'B', 108, 'Wood', False, False, False, True]],
      dtype=object)